<div class="center jumbotron">
  <h1>Welcome to <%= APP_NAME %></h1>

  <h2>
    This is the home page for the app.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

