<% provide(:title, 'Someday') %>
<h3 class="title-uppercase">Someday</h3>
<%= link_to "Add a todo", new_todo_path, class: "btn btn-info pull-right" %>
<%= render partial: "checklist", locals: {todos: @todos.order('is_complete DESC')} %>
