  <div class="wrapper" >
    <div class="main">
      <div class="section section-nude">
        <div class="container">
          <h3 class="title-uppercase">Today</h3>

        <div class='settings'>
          <label>4 of 11 left to do - keep it up!</label>
          <ul class="notifications">
            <li class="notification-item">
              <label class="checkbox" for="checkbox1">
                <input type="checkbox" value="" id="checkbox1" data-toggle="checkbox">
                Lawyers - Annie and Adrian to provide logging and narrative <span class="label label-danger">Late</span>
                <div class="dropup pull-right">
                  <button id="dLabel" type="button" class="btn btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                  </button>
                  <ul class="dropdown-menu dropdown-actions dropdown-menu-right dropdown-medium" aria-labelledby="dLabel">
                    <li>
                      <a href="#" class="action-line">
                        <div class="row">
                          <div class="col-xs-2">
                            <span class="icon-simple"><i class="ti-files"></i></span>
                          </div>
                          <div class="col-xs-9">Duplicate</div>
                        </div>
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="#" class="action-line">
                        <div class="row">
                          <div class="col-xs-2">
                            <span class="icon-simple"><i class="ti-move"></i></span>
                          </div>
                          <div class="col-xs-9">Move to another place</div>
                        </div>
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="#" class="action-line link-danger">
                        <div class="row">
                          <div class="col-xs-2">
                            <span class="icon-simple"><i class="ti-archive"></i></span>
                          </div>
                          <div class="col-xs-9">Archive</div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>

              </label>

            </li>
            <li class="notification-item">
              <label class="checkbox" for="checkbox2">
                <input type="checkbox" value="" id="checkbox2" data-toggle="checkbox" checked>
                Lawyers - Annie and Adrian to provide logging and narrative
                <div class="dropup pull-right">
                  <button id="dLabel" type="button" class="btn btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                  </button>
                  <ul class="dropdown-menu dropdown-actions dropdown-menu-right dropdown-medium" aria-labelledby="dLabel">
                    <li>
                      <a href="#" class="action-line">
                        <div class="row">
                          <div class="col-xs-2">
                            <span class="icon-simple"><i class="ti-files"></i></span>
                          </div>
                          <div class="col-xs-9">Duplicate</div>
                        </div>
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="#" class="action-line">
                        <div class="row">
                          <div class="col-xs-2">
                            <span class="icon-simple"><i class="ti-move"></i></span>
                          </div>
                          <div class="col-xs-9">Move to another place</div>
                        </div>
                      </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="#" class="action-line link-danger">
                        <div class="row">
                          <div class="col-xs-2">
                            <span class="icon-simple"><i class="ti-archive"></i></span>
                          </div>
                          <div class="col-xs-9">Archive</div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>

              </label>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
